<script> new WOW().init(); </script>
<div class="container">
  <header class="header-image animated fadeIn delayAnimate splash" style="margin-bottom:200px;">
            <div class="headline" style="padding-top:0px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
			      <div class="page-text">
				  <div class="header-text">
				    <span class="text-grey animated delayAnimate fadeIn">I work with all things digital,</span><span class="animated delayAnimate2 fadeIn"> with a love of linux and a passion for learning</span>
				  </div>
			      </div>
			</div>
                        <div class="col-md-6">
                            <div class="img-right-align">
                                <img width=80% src="me.jpg" alt="Colby Taperts">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
</div>

    <div class="hotone">

    <!-- 1st page -->
    <div class="headline">
        <div class="revealone hidden">
      <hr class="featurette-divider wow fadeIn"/>
	    <div class="container">
	      <div class="row">
                <div class="col-md-6 page-box">
		  <div class="page-text">
		      <div class="header-text wow fadeInLeft" data-wow-duration="2s" data-wow-delay="1s">
                            <span class="text-grey" style="text-align:center;">
                                I am a IT administrator, web designer and programmer. When I create something that makes someone's life easier I know I've made a difference, for more than just that day.
                            </span>
		      </div>
		  </div>
                </div>

                <div class="col-md-6">
		  <div class="img-right-align wow fadeInRight" data-wow-duration="2s" data-wow-delay="2s">
                            <img class="header-image img-responsive img-circle pull-right" src="page2.jpg" alt="">
                  </div>
                </div>
	      </div>
	    </div>
	</div>
    </div>
    </div> <!-- hotone-->

    <div class="hottwo">
    
    <!-- 2nd page -->
    <div class="headline">
        <div class="revealtwo hidden">
    <hr class="featurette-divider wow fadeIn"/>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="img-left-align">
                        <img class="header-image img-responsive img-circle" src="http://placehold.it/500x500" alt="">
                    </div>
                </div>
                <div class="col-md-6">
		  <div class="page-text">
                         <span class="header-text text-grey">
                             Since I first built a computer, I wanted to build a super computer. Since I learned about Linux now I can create one.
                        </span>
		  </div>
                </div>
            </div>
        </div>
    </div>
    </div> <!-- hottwo -->
    <div class="hotthree">

    <br>


    <!-- 3rd page -->
            <div class="header">
      <div class="revealthree hidden">
    <hr class="featurette-divider wow fadeIn"/>
    <div class="container wow fadeIn">
        <div class="page-about-me page-contact">
                <h2 class="header-text">
                    I'm currently working on a few github projects, if anyone is interested in helping or needs help with their project, I am here to learn.
                </h2>
            </div>
            <ul>
                <li>
                    <a href="https://github.com/ctaperts/beta_search">Beta_Search - A google hacking tool</a>
                </li>
                <li>
                    <a href="https://github.com/ctaperts/ranNUM">ranNUM - A true random number generator</a>
                </li>
                <li>
                    <a href="https://github.com/ctaperts/Metadata_Extractor">Metadata_Extractor - Extract metadata from txt files</a>
                </li>
                <li class="text-white">
                    (future project) Print from CSV
                </li>
                <li class="text-white">
                    (future project) OCR file Crawler
                </li>
            </ul>
        </div>
    

    <!--footer-->
    <footer>
        <div class="container2 wow fadeInUp" data-wow-delay="4s">
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
            <p>
                C.V
            </p>
            <p>
                Colby@2lvl.com
            </p>
        </div>
	<br>
	<br>
	<br>
	<br>
	<br>
    </footer>
    </div>

    </div>
    </div>
    </div>
    <br><br>
    </div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="hotfour">
    <br><br>
    <br><br>
    <br><br>
    <br><br>&nbsp;
    <div class="revealfour hidden">
    <img src="/white.gif" alt="placeholder for a icon to refresh page from top">
    </div>

    <!--<div class="container wow fadeInUp"data-wow-duration="2s" data-wow-delay="2s">-->
<!-- scripts -->


<script>
setTimeout(function(){
$(document).ready(function(){
    $("div.hotone").mouseover(function(){
        $("div.revealone").removeClass("hidden");
    });
});
}, 220);
</script>
<script>
setTimeout(function(){
$(document).ready(function(){
    $("div.hottwo").mouseover(function(){
        $("div.revealtwo").removeClass("hidden");
    });
});
}, 220);
</script>
<script>
setTimeout(function(){
$(document).ready(function(){
    $("div.hotthree").mouseover(function(){
        $("div.revealthree").removeClass("hidden");
    });
});
}, 220);
</script>
<script>
setTimeout(function(){
$(document).ready(function(){
    $("div.hotfour").mouseover(function(){
        $("div.revealfour").removeClass("hidden");
    });
});
}, 220);
</script>
