
body {
    margin-top: 50px;
    font-family:Helvitica, Arial, Sans-Serif;
    background-color: rgba(64, 20, 10, 0.6);
}

.header-image.splash {
    display:block;
    width:100%;
    text-align:center;
    background:url('http://placehold.it/1900x500') no-repeat center center scroll;
    background-size: cover;
}

.headline {
    padding: 120px 0;
}

.headline h1 {
    padding: 120px 0;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.headline h2 {
    padding: 120px 0;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.page-divider {
    margin: 130px 0;
}

.page {
    overflow:hidden;
}

.page-box {
    padding: 120px 20px 120px 20px;
}


.margin-top {
    margin-top:10%;
}

.header-text {
    font-size: 20px;
    color: #ddd;
}

.li-text {
    font-size: 18px;
    color: #444;
}

.img-header {
}

.img-left-align {
    margin-right:40px;
}

.img-right-align {
    margin-left:40px;
}

.page-about-me {
    background-color:rgba(10, 10, 10, 0.5);
    padding: 10px 10px 20px 10px;
}

.page-contact {
    padding:50px 50px 50px 50px;
}

.page-about-me h3 {
    color:#FFF;
    font-weight:normal;
    font-style:italic;
}


p {
    font-size:1.2em;
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight:100; /* font weight 100-900 */
    color:#777;
    line-height:125%;
    letter-spacing:2px;
    text-align:center;

}

